<style type="text/css">

	
		@font-face {
			font-family: 'Lato';
			font-style: normal;
			font-weight: 700;
			src: url('../assets/fonts/Lato-Light.ttf') format('truetype');
		}

		@font-face {
			font-family: 'LatoLight';
			font-style: normal;
			font-weight: 300;
			src: url(../assets/fonts/Lato-Light.ttf) format('truetype');
		}

		@font-face {
			font-family: 'LatoBold';
			font-style: normal;
			font-weight: 700;
			src: url('../assets/fonts/Lato-Bold.ttf') format('truetype');
		}

		.sprite {
			background: url('../assets/images/sprite@2x.png') no-repeat 0px 0px;
			background-size: 180px 140px
		}

		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
			.sprite {
				background: url('../assets/images/sprite@2x.png') no-repeat 0px 0px;
				background-size: 180px 140px
			}
		}

		.profile	{ width:  60px; height: 60px; background-position:    0px   0px; }
		.map		{ width: 160px; height: 80px; background-position:    0px -60px; }
		.me		{ width:  30px; height: 30px; background-position:  -60px   0px; }
		.twitter	{ width:  30px; height: 30px; background-position:  -90px   0px; }
		.github		{ width:  30px; height: 30px; background-position: -120px   0px; }
		.linkedin	{ width:  30px; height: 30px; background-position: -150px   0px; }
		.facebook	{ width:  30px; height: 30px; background-position: -150px   0px; }
		.vimeo		{ width:  30px; height: 30px; background-position:  -60px -30px; }
		.email		{ width:  30px; height: 30px; background-position:  -90px -30px; }

		* {
			box-sizing: border-box;
			margin: 0px;
			padding: 0px;
		}

		html {
			-webkit-text-size-adjust: 100%;
		}

		body, html {
			height: 100%;
		}

		body {
			min-width: 320px;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			font-family: 'LatoLight', sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 11pt;
			background: #FFFFFF;
			color: #333333;
		}

		.wrapper {
			width: 100%;
			max-width: 360px;
			margin: auto 6.25%;
			padding: 30px 0;
		}

		.top:after,
		.top:before {
			content: " ";
			display: table;
		}

		.top:after {
			clear: both;
		}

		.profile {
			float: left;
		}

		.map {
			float: right;
			position: relative;
		}

		#location {
			width: 5px;
			height: 5px;
			position: absolute;
			left: 107px;
			top: 38px;
			border-radius: 3px;
			background-color: #0080ee;
		}

		.headline {
			font-family: 'LatoBold', sans-serif;
			font-weight: 700;
			font-size: 1.8em;
			line-height: 1.1em;
		}

		.subheadline {
			font-weight: 300;
			font-size: 1.12em;
			line-height: 1.4em;
			margin: 6px 0px 22px 0px;
			padding-left: 10px;
			color: #868686;
			border-left: 5px solid #0080ee;
		}

		.subheadlinerow {
			font-weight: 300;
			font-size: 1.12em;
			line-height: 1.4em;
			margin: 6px 0px 22px 0px;
			padding-left: 10px;
			color: #868686;
			border-left: 5px solid #db5169;
			
		}

		.links {
			margin: 0px 0px 45px 0px;
		}

		.links a {
			margin-right: 4px;
			display: inline-block;
			-webkit-tap-highlight-color: transparent;
		}

		.footnote {
			font-size: .95em;
			color: #868686;
		}
</style>
